<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Libre.Search</title>
    <style>
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            padding: 8px;
        }
        header {
            display: flex;
            align-items: center;
        }
        h1 {
            flex: 1;
        }
        header * {
            margin: 0;
        }
        ul.breadcrumbs {
            display: flex;
            padding: 0;
            color: #777;
        }
        ul.breadcrumbs li {
            list-style: none;
        }
        ul.breadcrumbs li:not(:first-child)::before {
            content: "»";
            margin: 0 5px;
        }
        .search-response {
            padding: 0;
        }
        .search-response li {
            list-style: none;
        }

        ul.breadcrumbs.simple-breadcrumbs li:not(:first-child)::before {
            content: "›";
        }
        .site-breadcrumbs {
            color: #000;
        }

        .search-response :any-link {
            text-decoration: none;
        }
        .search-response .site-name {
            text-decoration: underline;
        }

        .secure-true::before {
            content: "\1F512";
        }

        .site-description {
            margin: 0 2px;
            max-width: inherit;
            height: 21px;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <header>
        <h1><img src="Spyglass-Logo-transparent.png" height="50" alt="LibreSearch"></h1>
        <form action="/search.html">
            <input type="text" name="q" id="query" value="{{Query}}" placeholder="Search something...">
            <button type="submit">Search</button> <button type="reset">Clear</button>
        </form>
    </header>
    <ul class="breadcrumbs">
        <li><a href="/">Libre.Search</a></li>
        <li>Search</li>
    </ul>
    <main>
        <div class="quick-answer"></div>
        <ul class="search-response">
            <li class="search-site">
                <a href="https://example.com">
                    <div class="site-title">
                        <img src="https://example.com/favicon.ico" alt="🌐">
                        <span class="site-name">Example Domain</span>
                    </div>
                    <ul class="site-breadcrumbs breadcrumbs simple-breadcrumbs secure-true">
                        <li>example.com</li>
                        <li>subpage</li>
                    </ul>
                </a>
                <p class="site-description">This domain is for use in illustrative examples in documents. You may use this domain in literature without prior coordination or asking for permission.</p>
            </li>
        </ul>
    </main>
    <footer>
        <a href="/about">About</a>
        <a rel="me" href="https://mastodon.world/@LibreSearch">Mastodon</a>
        <a href="/">Source Code</a>
    </footer>
</body>

</html>